/* ---------------------------------------GIBSON--------------------------------------- */
@font-face {
    font-family:Gibson;
    src: url(../fonts/Gibson.ttf) format('truetype');
}
@font-face {
    font-family:Gibson-Bold;
    src: url(../fonts/Gibson-bold.ttf);
}

/* ---------------------------------------GEOSANS--------------------------------------- */
@font-face {
    font-family:GeosansLight;
    src: url(../fonts/GeosansLight.ttf) format('truetype');
}

/* ---------------------------------------GILROY--------------------------------------- */
@font-face {
    font-family:Gilroy-Regular;
    src: url(../fonts/Gilroy/Gilroy-Regular.ttf) format('truetype');
}
@font-face {
    font-family:Gilroy-Medium;
    src: url(../fonts/Gilroy/Gilroy-Medium.ttf) format('truetype');
}
@font-face {
    font-family:Gilroy-Light;
    src: url(../fonts/Gilroy/Gilroy-Light.ttf) format('truetype');
}
@font-face {
    font-family:Gilroy-Bold;
    src: url(../fonts/Gilroy/Gilroy-Bold.ttf) format('truetype');
}
@font-face {
    font-family:Gilroy-Black;
    src: url(../fonts/Gilroy/Gilroy-Black.ttf) format('truetype');
}

/* ---------------------------------------MONTSERRAT--------------------------------------- */
@font-face {
    font-family:Montserrat-Thin;
    src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
    font-family: Montserrat-Extra-Light;
    src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
    font-family:Montserrat-Regular;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family:Montserrat-Medium;
    src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}
@font-face {
    font-family:Montserrat-SemiBold;
    src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family:Montserrat-Bold;
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
    font-family:Montserrat-Black;
    src: url(../fonts/Montserrat/Montserrat-Black.ttf);
}
/* ---------------------------------------GOTHAM--------------------------------------- */
@font-face {
    font-family:Gotham-Ligth;
    src: url(../fonts/Gotham/GothamLight.ttf);
}
@font-face {
    font-family:Gotham-Medium;
    src: url(../fonts/Gotham/GothamMedium.ttf);
}